*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background: #000;
  color: #fefefe;
  text-align: center;
}
a{
  color: #fefefe;
  text-decoration: none;
}
h1{
  font-size: 1.8em;
  padding: 0 0 10px;
}
h3{
  font-size: 1.2em;
}
#demo{
  padding-top: 10px;
  min-height: 36px;
  background-color:#000000aa ;
  text-align: center;
  vertical-align: middle;

}
.logo{
  padding: 20px 0;
}
.strike{
  text-decoration: line-through;
  color:#aa0000aa;
  font-size: 20px;
}
.title_color{
  color:#ff0;
  text-shadow: 1px 1px black;
}
.vs{
  width:23em;
  max-width: 100%;
}
.live{
  width:6.6em;
  padding: 0 0 20px;
}
.black-ops{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
body,.montserrat{
  font-family:Montserrat;
  font-weight: bold;
  font-style: normal;
  padding: 5px;
}
.main{
  border-bottom: 2px solid #ff0;
}
.main-body{
  background-image: url(images/bg.png);
  background-position: center;
  background-size: auto 100%;
  min-height: 100vh;
  border-bottom: 2px solid #ff0;
}
.center{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.rules li{
  max-width: 75vw;
  margin: 0 auto;
  list-style: decimal;
  text-align: justify;
}
.map iframe{
  max-width:100%;
  padding: 0 0 50px 0;
}
